@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.listnavbar {
  @apply 
  text-center 
  text-white
  text-opacity-70
  text-base 
  font-light
  text-[12px] 
  ease-in-out
  duration-300
  transition-all
}

.listnavbar:hover {
  @apply
  text-[12px]
  text-white
  duration-300
}

.gradienttext {
  color: linear-gradient(45  deg, #7BC0FF -7.7%, #725CFF 78.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn:hover {
  background-color: #747474;
}

.job_container{
  @apply items-center justify-center container w-[689px] h-[357px] bg-gradient-glass rounded-[16px] drop-shadow-2xl
  p-[32px];
}

.exportcolor{
  fill:#ABABAB;
}

.exportcolor:hover{
  fill:#121212;
}

@layer base {
  html {
      background-color: #121212;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
